.Extras_container {
  background: #fff;
  font-size: larger;
  padding: $space 0;
  font-family: "Poppins", "sans-serif";

  .extras_routes,
  h1 {
    margin: calc($space * 2) 0;

    a,
    a.active,
    .supporters {
      text-decoration: none;
      background: $secondary-light;
      cursor: pointer;
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      font-weight: bold;
    }
    a.active{
      background: #ebf0ec;
    }
  }
}
.extras_form_container {
  height: 80vh;
  position: relative;
  padding: 25px;
  border: 1px solid $primary-bd-gray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;

  input {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    font-weight: 200;
    background: transparent;
    border: none;
    background-color: $primary-bd-gray;
    border-radius: $space;
    font-size: 15px;
    -webkit-border-radius: $space;
    -moz-border-radius: $space;
    -ms-border-radius: $space;
    -o-border-radius: $space;
}
  .extras_form_containers-1 {
    display: flex;
    gap: 2rem;
  }

 

  .offering {
    width: 70%;
    height: 4em;

    .offering-input-container {
      width: 100%;
      height: 60%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
  }
  .offering-input-container:focus,
  .price-input-container:focus {
    box-shadow: 2px 2px 2px 2px lightgrey;
  }

  .price {
    height: 4em;
    width: 30%;

    .price-input-container {
      padding-left: 10px;
      background-color: $primary-bd-gray;

      #doller {
        background-color: $primary-bd-gray;
      }
    }
    .price-input-container input {
      padding-left: 2px;
      margin-left: 3px;
    }
  }

  .offering-input-container,
  .price-input-container {
    width: 100%;
    height: 60%;
    border-radius: 5px;

    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .price-input-container input:focus {
    outline: none;
  }
}
.extras_form_containers input {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  height: 4em;
}
.choose_file_container {
  margin-top: 30px;
}

.choose_file_container p {
  margin-top: 5px;
  opacity: 0.3;
}
.choose_file_container {
  margin-top: 30px;
}

.choose_file_container p {
  margin-top: 5px;
  opacity: 0.3;
}

.extras_form_containers {
  display: flex;
  height: 4em;
  margin-top: 20px;
  flex-direction: column;
  padding: 5px;
}

input {
  width: 100%;
  height: 100%;
  padding-left: 1em;
  opacity: 0.5;
  font-weight: 200;
  background: transparent;
  border: none;
  background-color: $primary-bd-gray;
  border-radius: 10px;
  font-size: 15px;
}

input[type="text"]:focus,
.price-input-container:focus {
  border: 1px solid rgb(254, 254, 254);
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px lightgrey;
}

.extras_form_containers input {
  width: 70%;
  margin-top: 10px;
  border-radius: 5px;
  height: 4em;
}
#note {
  display: flex;
  align-items: center;
  width: 14%;
}
#question-icon {
  margin-left: 5px;
}

#messageText {
  position: absolute;
  left: 9%;
  top: 24%;
  transform: translateX(0);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#messageText::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

#note:hover #messageText {
  visibility: visible;
  top: 25%;
  opacity: 1;
}
.choose_file_container input {
  opacity: 1;
  background: transparent;
  margin-top: 5px;
}
.choose_file {
  padding: 0 !important;
  border-radius: 0 !important;
}
