
header {
  @include flexRowBetweenCenter();
  padding: $space * 2 $space * 5;
  background-color: $secondary-light; 
  .logo {
    padding: calc($space/3);
    color: #FBDF00;
    border: 1px solid $primary-orange;
    border-radius: $space;
    img {
      width: 30px; 
      height: 30px; 
    }
  }
}

.myPageButton {
  background-color: #fff;
  color: #ff8c00;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.myPageButton:hover {
  background-color: #ffcc00; /* Lighter orange color on hover */
}

.user_avatar {
  margin-left: 10px; /* Adjust the margin between the button and avatar */
}
