// Sidebar
.sidebar {
  background-color: $secondary-light;
  color: $priamry-black;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  &__top_section {
    display: flex;
    align-items: center;
    padding: calc($space * 2) calc($space * 2)-5;
    // padding: 20px 15px;
    gap: $radius * 3;

    &__logo {
      font-size: $fontsize-large1;
      
    }
    .bars {
      display: flex;
    }
  }
  &__link {
    display: flex;
    color: $priamry-black;
    text-decoration: none !important;
    align-items: center;
    font-weight: 500 !important;
    gap: $radius * 3;
    transition: all 1s;
    line-height: 40px;
    padding: calc($space)-4 calc($space * 2)-5;
    font-size: $fontsize-large1;
    font-family: "Roboto", sans-serif;

    &:hover,
    &:active,
    &:focus {
      color: $primary-orange;
      transition: all 0.5s;
    }
    &__icon {
      font-size: 20px;
    }
  }
}
