body {
    background-color: #FFFFFF;
}

.navbar-top {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.startmypage {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 95px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.small-title {
    margin-top: 20px;
}

.yourname:focus {
    outline: none;
}

.yourname::placeholder {
    opacity: 0.5;
}

.startbtn {
    padding: 15px 15px;
    font-size: 20px;
}

.main-heading {
    font-size: 64px;
    margin-top: 10px;
}

.lead1 {
    margin-top: 40px;
}

@media screen and (max-width: 1080px) {
    body {
        background-color: lightgreen;
    }

    span,
    .yourname {
        padding-left: 60px;

    }

    .startbtn {
        margin: 10px 70px;
    }
   

}