/*------------------------------------------------------------------------------------------------------------ */
/* */
$themes: (
  light: (
    "white": #fff,
    "text-primary": $text-dark-primary,
    "text-secondary": $text-dark-secondary,
    "text-tertiary": $text-dark-tertiary,
    "text-quaternary": $text-dark-quaternary,
    "text-mute": $text-dark-muted,
    "text-highlight": $blue-light-200,
    "bg-primary": $primary-light,
    "bg-secondary": $secondary-light,
    "bg-tertiary": $tertiary-light,
    "bg-quaternary": $quaternary-light,
    "bg-quinary": $quinary-light,
    "bg-senary": $senary-light,
    "bg-secondary-2": $primary-light,
    "bg-highlight": rgba($blue-light-100, 1),
    "border-color": rgba($border-light, 1),
    "border-color-highlight": rgba($border-light-blue, 1),
    "primary-blue": $blue-light-200,
    "primary-red": $red-light-100,
    "primary-green": $green-light-100,
    "secondary-green": $green-light-200,
    "primary-yellow": $yellow-light-100,
    "secondary-yellow": $yellow-light-200,
    "secondary-blue": $blue-light-100,
    "tab-bg": rgba($blue-light-100, 0.4),
    "tab-bg-secondary": rgba($tab-btn, 1),
    "nutral": $nutral,
    "highchart-text-primary": $highChart-light-text,
    "highchart-text-secondary": $highChart-lable,
    "highchart-grid": $highChart-light-grid,
    "highchart-axis-grid": $highChart-light-axis-grid,
    "highchart-tooltip-bg": $highChart-light-tooltip,
    "highchart-tooltip-border": $highChart-light-tooltip-stroke,
    "ag-background": $ag-light-bg,
    "ag-background-even": $ag-light-bg-even,
    "ag-background-odd": $ag-light-bg-odd,
    "ag-background-expanded": $ag-light-bg-expanded,
    "ag-background-expanded-child": $ag-light-bg-even,
    "ag-border": $ag-light-border,
    "ag-body-text": $ag-light-body-text,
    "ag-header-text": $ag-header-text,
    "ag-hover": $ag-light-hover,
    "ag-selection": $ag-light-selection,
    "ag-selection-border": $ag-light-selection-border,
    "ag-action": $ag-light-action-text,
    "tag-bg-green": $tag-green-bg,
    "tag-border-green": $tag-green-border,
    "tag-text-green": $tag-green-text,
    "tag-bg-red": $tag-red-bg,
    "tag-border-red": $tag-red-border,
    "tag-text-red": $tag-red-text,
    "select-border": $border-light-blue,
    "heatmap-timebar-bg": $heatmap_timebar_bg-light,
    "heatmap-timebar-border": $heatmap_timebar_border-light,
    "webkit-scrollbar": $webkitscrollBar-light,
    "text-blue": $blue-light-200,
    "webinar-banner-bg": $webinar-light-blue-bg-100,
    "webinar-banner-border": $webinar-light-blue-border-200,
    "webinar-purple-bg": $webinar-purple-100,
    "webinar-purple-border": $webinar-purple-200,
    "webinar-red": $webinar-red,
    "webinar-modal-copy-link": $webinar-modal-copy-link-light,
    "webinar-modal-border": $webinar-modal-border-light,
    "navbar-bg": $heatmap_timebar_bg-light,
    "custom-search-border": $webinar-light-blue-border-100,
    "custom-search-bg": $light-bg-grey-1,
    "modal-bg": $modal-bg-light,
    "subscriptioncard-bg-primary": $subscription-card-bg-light-primary,
    "subscriptioncard-bg-secondary": $subscription-card-bg-light-secondary,
    "no-result-text": $text-dark-secondary,
    "modal-text-secondary": $text-dark-secondary,
    "border-grey-1": $text-light-tertiary,
    "bg-grey-1": $light-bg-grey-1,
    "text-secondary-2": $text-dark-secondary,
    "badge-color": $down-light,
    "marketOverview-tab": $marketOverview-tab_light,
    "ag-verticalbar": $ag-light-verticalbar,
    "marketOverview-select-border": $selectPicker-border_light,
    "futureactivity-heading": $text-light-futureactivity,
    "user-icon-bg": $user-icon-bg-light,
    "price-performance-bar": $price-performance-bar-light,
    "border-secondary": $border-secondary-light,
    "primary-purple": $purple-primary,
    "secondary-purple": $purple-secondary,
    "dropdown-text-color": $dropdown-text-color-light,
    "shareholdinggraph-purple": $shareholdinggraph-purple-light,
    "shareholdinggraph-cyan": $shareholdinggraph-cyan-light,
    "shareholdinggraph-greenv1": $shareholdinggraph-greenv1,
    "shareholdinggraph-greenv2": $shareholdinggraph-greenv2,
    "radio-btn-1": $secondary-light,
    "stock-modal-text": $stock-modal-text-light,
    "stock-future-chart-bar-bg": $stockFuturesTableFooter-light-bg,
    "raise-ticket-p": $text-dark-secondary,
    "ticket-open-background": $ticket-status-open-background-light,
    "ticket-status-text-color": $ticket-status-open-text-light,
    "ticket-status-open-border": $ticket-status-open-border-light,
    "ticket-in-progress-text": $webinar-dark-blue-border-200,
    "ticket-in-progress-border": $border-dark-blue,
    "ticket-resolved-text": $green-2,
    "ticket-resolved-border": $up-dark,
    "ticket-meesage-notification-text": $text-dark-secondary,
    "global-search-header": $globalSearch-header-light,
    "global-search-header-bg": $globalSearch-header-bg-light,
    "global-search-header-selected": $globalSearch-header-selected-light,
    "global-search-stock-tag-text": $globalSearch-stock-tag-text-light,
    "global-search-stock-tag-bg": $globalSearch-stock-tag-bg-light,
    "global-search-index-tag-text": $globalSearch-index-tag-text-light,
    "global-search-index-tag-bg": $globalSearch-index-tag-bg-light,
    "global-search-item-selected": $globalSearch-item-selected-light,
    "global-search-pod-bg": $globalSearch-pod-bg-light,
    "global-search-pod-border": $globalSearch-pod-border-light,
    "global-search-pod-text": $globalSearch-pod-text-light,
    "global-search-pod-selected-text": $globalSearch-pod-text-selected-light,
    "passwod-modal-text": $passwod-modal-text-light,
    "global-search-pod-border-selected": $globalSearch-pod-border-selected-light,
    "global-search-pod-bg-selected": $globalSearch-pod-bg-selected-light,
    "global-search-noData-text_2-text": $globalSearch-noData-text_2-light,
    "calendar-purple": $calendar-purple-light,
    "calendar-yellow": $calendar-yellow-light,
    "calendar-cyan": $calendar-cyan-light,
    "calendar-blue": $calendar-blue-light,
    "calendar-green": $calendar-green-light,
    "calendar-bg-purple": $calendar-bg-purple-light,
    "calendar-bg-yellow": $calendar-bg-yellow-light,
    "calendar-bg-cyan": $calendar-bg-cyan-light,
    "calendar-bg-blue": $calendar-bg-blue-light,
    "calendar-bg-green": $calendar-bg-green-light,
    "calendar-bg-red": $calendar-bg-red-light,
    "patner-component-icon": $webinar-light-blue-border-200,
    "notes-dropdown-hover": $notes-dropdown-hover-light,
    "tiptap-icon-bg": $tiptap-bg-light,
    "calendar-hover": $tiptap-bg-light,
    "overlay-gradient": $overlay-gradient-light,
    "bg-seasonality-calender": $secondary-light,
    "daily-rollover-footer-bg-color": $daily-rollover-footer-light-bg-color,
    "rollover-header-text": $rollover-header-text-light,
    "watch-list-search-border": $grey-1,
    "seasonality-overlay-bg": $seasonalityChartOverLayLight,
    "onbording-backdrop": rgba(0, 0, 0, 0.2),
    "onbording-item": rgba(255, 255, 255, 0.31)
  ),
  dark: (
    "onbording-backdrop": rgba(0, 0, 0, 0.5),
    "onbording-item": rgba(255, 255, 255, 0.2),
    "white": #fff,
    "text-primary": $text-light-primary,
    "text-secondary": $text-light-secondary,
    "text-tertiary": $text-light-tertiary,
    "text-quaternary": $text-light-quaternary,
    "text-mute": $text-light-muted,
    "text-highlight": $blue-dark-200,
    "bg-primary": $primary-dark,
    "bg-secondary": $secondary-dark,
    "bg-tertiary": $tertiary-dark,
    "bg-quaternary": $quaternary-dark,
    "bg-quinary": $quinary-dark,
    "bg-senary": $senary-dark,
    "bg-secondary-2": rgba($heatmap_timebar_bg-dark, 0.95),
    "bg-highlight": rgba($blue-dark-50, 1),
    "border-color": rgba($border-dark, 1),
    "border-color-highlight": rgba($border-dark-blue, 1),
    "primary-blue": $blue-dark-200,
    "primary-red": $red-dark-100,
    "primary-green": $green-dark-100,
    "secondary-green": $green-dark-200,
    "primary-yellow": $yellow-dark-100,
    "secondary-yellow": $yellow-dark-200,
    "secondary-blue": $blue-dark-50,
    "tab-bg": rgba($blue-dark-100, 1),
    "tab-bg-secondary": rgba($tertiary-dark, 1),
    "nutral": $nutral,
    "highchart-text-primary": $highChart-dark-text,
    "highchart-text-secondary": $highChart-lable,
    "highchart-grid": $highChart-dark-grid,
    "highchart-axis-grid": $highChart-dark-axis-grid,
    "highchart-tooltip-bg": $highChart-dark-tooltip,
    "highchart-tooltip-border": $highChart-dark-tooltip-stroke,
    "ag-background": $ag-dark-bg,
    "ag-background-even": $ag-dark-bg-even,
    "ag-background-odd": $ag-dark-bg-odd,
    "ag-background-expanded": $ag-dark-bg-expanded,
    "ag-background-expanded-child": $ag-dark-bg-even,
    "ag-border": $ag-dark-border,
    "ag-body-text": $ag-dark-body-text,
    "ag-header-text": $ag-header-text,
    "ag-hover": $ag-dark-hover,
    "ag-selection": $ag-dark-selection,
    "ag-selection-border": $ag-dark-selection-border,
    "ag-action": $ag-dark-action-text,
    "tag-bg-green": $tag-green-bg-dark,
    "tag-border-green": $tag-green-border-dark,
    "tag-text-green": $tag-green-text-dark,
    "tag-bg-red": $tag-red-bg-dark,
    "tag-border-red": $tag-red-border-dark,
    "tag-text-red": $tag-red-text-dark,
    "select-border": $border-dark-blue,
    "heatmap-timebar-bg": $heatmap_timebar_bg-dark,
    "heatmap-timebar-border": $heatmap_timebar_border-dark,
    "webkit-scrollbar": $webkitscrollBar-dark,
    "text-blue": $text-light-blue,
    "webinar-banner-bg": $webinar-dark-blue-bg-100,
    "webinar-banner-border": $webinar-dark-blue-border-200,
    "webinar-purple-bg": $webinar-purple-100,
    "webinar-purple-border": $webinar-purple-200,
    "webinar-red": $webinar-red,
    "webinar-modal-border": $webinar-modal-border-dark,
    "webinar-modal-copy-link": $webinar-modal-copy-link-dark,
    "navbar-bg": $dark-blue,
    "custom-search-border": $webinar-dark-blue-border-100,
    "custom-search-bg": $dark-bg-grey-1,
    "modal-bg": $modal-bg-dark,
    "subscriptioncard-bg-primary": $subscription-card-bg-dark-primary,
    "subscriptioncard-bg-secondary": $subscription-card-bg-dark-secondary,
    "no-result-text": $text-light-tertiary,
    "modal-text-secondary": $text-light-muted,
    "border-grey-1": $text-dark-tertiary,
    "bg-grey-1": $dark-bg-grey-2,
    "text-secondary-2": $nutral,
    "badge-color": $down-dark,
    "marketOverview-tab": $marketOverview-tab_dark,
    "ag-verticalbar": $ag-dark-verticalbar,
    "marketOverview-select-border": $selectPicker-border_dark,
    "futureactivity-heading": $text-dark-futureactivity,
    "user-icon-bg": $user-icon-bg-dark,
    "price-performance-bar": $price-performance-bar-dark,
    "border-secondary": $border-secondary-dark,
    "primary-purple": $purple-primary,
    "secondary-purple": $purple-secondary,
    "dropdown-text-color": $dropdown-text-color-dark,
    "shareholdinggraph-purple": $shareholdinggraph-purple-dark,
    "shareholdinggraph-cyan": $shareholdinggraph-cyan-dark,
    "shareholdinggraph-greenv1": $shareholdinggraph-greenv1,
    "shareholdinggraph-greenv2": $shareholdinggraph-greenv2,
    "radio-btn-1": $tertiary-dark,
    "stock-modal-text": $stock-modal-text-dark,
    "stock-future-chart-bar-bg": $stockFuturesTableFooter-dark-bg,
    "raise-ticket-p": $text-dark-muted,
    "ticket-open-background": $ticket-status-open-background-dark,
    "ticket-status-text-color": $ticket-status-open-text-dark,
    "ticket-status-open-border": $ticket-status-open-border-dark,
    "ticket-in-progress-text": $text-light-blue,
    "ticket-in-progress-border": $webinar-dark-blue-border-200,
    "ticket-resolved-text": $green-3,
    "ticket-resolved-border": $green-2,
    "ticket-meesage-notification-text": $dropdown-text-color-dark,
    "global-search-header": $globalSearch-header-dark,
    "global-search-header-bg": $globalSearch-header-bg-dark,
    "global-search-header-selected": $globalSearch-header-selected-dark,
    "global-search-stock-tag-text": $globalSearch-stock-tag-text-dark,
    "global-search-stock-tag-bg": $globalSearch-stock-tag-bg-dark,
    "global-search-index-tag-text": $globalSearch-index-tag-text-dark,
    "global-search-index-tag-bg": $globalSearch-index-tag-bg-dark,
    "global-search-item-selected": $globalSearch-item-selected-dark,
    "global-search-pod-bg": $globalSearch-pod-bg-dark,
    "global-search-pod-border": $globalSearch-pod-border-dark,
    "global-search-pod-text": $globalSearch-pod-text-dark,
    "global-search-pod-selected-text": $globalSearch-pod-text-selected-dark,
    "global-search-pod-border-selected": $globalSearch-pod-border-selected-dark,
    "global-search-pod-bg-selected": $globalSearch-pod-bg-selected-dark,
    "global-search-noData-text_2-text": $globalSearch-noData-text_2-dark,
    "calendar-purple": $calendar-purple-dark,
    "calendar-yellow": $calendar-yellow-dark,
    "calendar-cyan": $calendar-cyan-dark,
    "calendar-blue": $calendar-blue-dark,
    "calendar-green": $calendar-green-dark,
    "calendar-bg-purple": $calendar-bg-purple-dark,
    "calendar-bg-yellow": $calendar-bg-yellow-dark,
    "calendar-bg-cyan": $calendar-bg-cyan-dark,
    "calendar-bg-blue": $calendar-bg-blue-dark,
    "calendar-bg-green": $calendar-bg-green-dark,
    "calendar-bg-red": $calendar-bg-red-dark,
    "passwod-modal-text": $passwod-modal-text-dark,
    "notes-dropdown-hover": $notes-dropdown-hover-dark,
    "tiptap-icon-bg": $tiptap-bg-dark,
    "patner-component-icon": $webinar-dark-blue-border-100,
    "calendar-hover": $webinar-dark-blue-border-100,
    "overlay-gradient": $overlay-gradient-dark,
    "watch-list-search-border": $highChart-dark-axis-grid,
    "bg-seasonality-calender": $dark-bg-grey-2,
    "daily-rollover-footer-bg-color": $daily-rollover-footer-dark-bg-color,
    "rollover-header-text": $rollover-header-text-dark,
    "seasonality-overlay-bg": $seasonalityChartOverLayDark
  )
);

@each $name, $map in $themes {
  .theme-#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}
